/* Mixin */
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

@color-black_dark: #3B3738;

@base: #ffffff;
@container: #ffffff;
@lighter1: #7E8F7C;
@lighter2: #626B61;

@font-base: 10px;
@font-larger1: 12px;
@font-larger2: 14px;
@font-larger3: 16px;
@font-smaller1: 8px;


html {
    font-size: @font-larger2;
}

body {
    background: @base;
    color: @color-black_dark;
}

/*tr:nth-child(even) {background: @lighter1}
tr:nth-child(odd) {background: @lighter2}*/

table {
    border-collapse: collapse;
    width: 99%;
    margin: 0 auto;
}

.main {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 20px;
    position: relative;

}

.currentCont {
    width: 995px;
    padding:5px;
}

table.current tr:hover td {
    background-color: #b8d1f3;
}

.bestLapsCont {
    width: 500px;
    float:left;
}
table.bestLaps tr:hover td {
    background-color: #b8d1f3;
}
.bestFiveCont{
    width: 500px;
    float:left;
}
table.bestMinutes tr:hover td {
    background-color: #b8d1f3;
}

.tableHead {
    text-align: left;
    padding-left: 50px;
    font-size: @font-larger1;
    color: @base;
    background: #190654;
    border-bottom: dotted @base;
    border-width: 1px;
}

.tableFoot {
    font-size: @font-smaller1;
    background: @container;
    color: @container;
    border-width: 1px;
}

tr.row {
    border-bottom:1pt solid black;
}

.colHead {
    text-align: left;
    padding-left: 5px;
    background: @container;
    font-size: @font-base;
    font-family: Georgia, serif;
}

.pos {
    text-align: right;
    padding-right: 10px;
    font-size: @font-larger3;
    font-family: Impact, Charcoal, sans-serif;
    color: @color-black_dark;
    width: 30px;
}

.laps {
        text-align: left;
        padding-left: 10px;
        font-size: @font-larger2;
        color: @color-black_dark;
        width: 30px;
}

.driver {
    text-align: left;
    padding-left: 10px;
    font-size: @font-larger3;
    font-family: Georgia, serif;
}

.colwidth {
    width: 100px;
}

.col {
    text-align: left;
    padding-left: 10px;
}

table.lapsFor {
    width: 500px;
    float: left;
}

tr td{
    border-bottom:1pt solid black;
}

table.lapsFor tr:hover td {
    background-color: #b8d1f3;
}

tr.regular td {
    background-color: #ffffff;
}

tr.bestN td {
    background-color: #C1E1A6;
}

tr.bestFive td {
    background-color: #118C4E;
}

tr.fastLap td {
    background-color: #FF9009;
    color: #ffffff;
}