@(laps: Seq[CurrentRacer], bestLaps: Seq[BestNLaps], bestMinutes: Seq[BestMinutes], date: String, record: String, recordHolder: String, recordDate: String)

@main("King of the Hill") {
<!--div class="record">Track: Evolution Raceway Record: @record hold by @recordHolder (@recordDate)</div-->
        <div class="currentCont">
            <table class="current">
                <thead>
                    <tr>
                       <th class="tableHead" colspan="6">Current Race - @date</th>
                    </tr>
                    <tr id="content">
                        <th class="colHead">Laps</th>
                        <th class="colHead">Driver</th>
                        <th class="colHead colwidth">Time</th>
                        <th class="colHead colwidth">Fast Lap</th>
                        <th class="colHead colwidth">Best 3 Laps</th>
                        <th class="colHead colwidth">Best 5 Minutes</th>
                    </tr>
                </thead>
                <tbody>
                    @for(lap <- laps) {
                        <tr class="row">
                            <td class="laps">@lap.lapNr</td>
                            <td class="driver"><a href="@routes.Application.lapsFor(lap.transponder, date)">@lap.driver</a></td>
                            <td class="col">@lap.lapTime</td>
                            <td class="col">@lap.fastest</td>
                            <td class="col">@lap.bestN</td>
                            <td class="col">@lap.bestFive</td>
                        </tr>
                    }

                </tbody>
                <tr>
                    <th class="tableFoot" colspan="6">Footer</th>
                </tr>
            </table>
         </div>

    <div class="bestLapsCont">
    <table class="bestLaps">
        <thead>
        <tr>
            <th class="tableHead" colspan="4">Best 3 Laps</th>
        </tr>
        <tr id="content">
            <th class="colHead">Pos.</th>
            <th class="colHead">Driver</th>
            <th class="colHead colwidth">Time</th>
            <th class="colHead colwidth">Date</th>
        </tr>
        </thead>
        <tbody>
        @for((lap, index) <- bestLaps.zipWithIndex) {
        <tr class="row">
            <td class="pos">@{index+1}</td>
            <td class="driver"><a href="@routes.Application.lapsFor(lap.transponder, lap.tsPres)">@lap.driver</a></td>
            <td class="col">@lap.totalTimePres</td>
            <td class="col">@lap.tsPres</td>
        </tr>
        }

        </tbody>
        <tr>
            <th class="tableFoot" colspan="4">Footer</th>
        </tr>
    </table>
    </div>
    <div class="bestFiveCont">
        <table class="bestMinutes">
            <thead>
            <tr>
                <th class="tableHead" colspan="4">Best 5 Minutes</th>
            </tr>
            <tr id="content">
                <th class="colHead">Pos.</th>
                <th class="colHead">Driver</th>
                <th class="colHead colwidth">Result</th>
                <th class="colHead colwidth">Date</th>
            </tr>
            </thead>
            <tbody>
            @for((lap, index) <- bestMinutes.zipWithIndex) {
            <tr class="row">
                <td class="pos">@{index+1}</td>
                <td class="driver"><a href="@routes.Application.lapsFor(lap.transponder, lap.tsPres)">@lap.driver</a></td>
                <td class="col">@lap.result</td>
                <td class="col">@lap.tsPres</td>
            </tr>
            }

            </tbody>
            <tr>
                <th class="tableFoot" colspan="4">Footer</th>
            </tr>
        </table>
    </div>
}
