@(laps: Seq[DriverLap], bestN: String, bestFive: String, title: String, date: String)

@main("King of the Hill") {
<H3>@title - @date</H3>
<H3>Best Three Laps: @bestN</H3>
<H3>Best Five Minutes: @bestFive</H3>
        <div class="currentCont">
            <table class="lapsFor">
                <thead>
                    <tr>
                       <th class="tableHead" colspan="2"></th>
                    </tr>
                    <tr id="content">
                        <th class="colHead">Lap</th>
                        <th class="colHead colwidth">Time</th>
                    </tr>
                </thead>
                <tbody>
                    @for(lap <- laps) {
                        <tr class=@lap.cssClass>
                            <td class="laps">@lap.lapNr</td>
                            <td class="col">@lap.time</td>
                        </tr>
                    }

                </tbody>
                <tr>
                    <th class="tableFoot" colspan="2">Footer</th>
                </tr>
            </table>
         </div>

}
